.movie {
    margin-top: 5%;
    max-width: 30%;
    color: #F0F4EF;
}

h1, p {
    margin: 1px 0 1px;
}

p {
    color: #B4CDED;
}

img {
    max-width: 100%;
    max-height: 360px;
}

html {
    background: #012A36;
}

.container {
    margin: 0 auto;
    max-width: 70%;
}

.poster {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
header{
    background: #2E5364;
}
ul{
    display: flex;
    margin: 0;
    padding: 2% 0;
    justify-content: flex-end;
}
a{
    font-weight: bold;
    text-decoration: none;
    color: #F0F4EF;
    list-style: none;
    margin-left: 5%;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .container{
    margin-top: 10%;
    padding: 4%;
}
.footer{
    background: #2E5364;
}
a:hover{
    color: #61dafb;
    transition: 0.3s;
}